<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/languages"
        android:label="Translate App"
        android:roundIcon="@drawable/no_border_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TranslationApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".enter_flags_splash"
            android:exported="false" />
        <activity
            android:name=".enter_culture_splash"
            android:exported="false" />
        <activity
            android:name=".enter_language_splash"
            android:exported="false" />
        <activity
            android:name=".enter_geography_splash"
            android:exported="false"/>
        <activity
            android:name=".activity_practice_language"
            android:exported="false" />
        <activity
            android:name=".activity_practice_flags"
            android:exported="false" />
        <activity
            android:name=".activity_practice_culture"
            android:exported="false" />
        <activity
            android:name=".activity_practice_geo"
            android:exported="false" />
        <activity
            android:name=".homeActivity"
            android:exported="false" />
        <activity
            android:name=".practiceActivity"
            android:exported="false" />
        <activity
            android:name=".imageActivity"
            android:exported="false" />
        <activity
            android:name=".voiceActivity"
            android:exported="false" />
        <activity
            android:name=".textActivity"
            android:exported="false" />
        <activity
            android:name=".enter_home_splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>